TAGS

*~
*.aux
*.boxes
*.log

/cheat-sheet
/cheat-sheet.hi
/cheat-sheet.o
/cheat-sheet.tex

/.stack-work
*.elc
/Colemak.hs
/problem.smt2
/result.smt2
/dist
/Layout.hs
/colemak.pdf
/colemak.tex
/qwerty.pdf
/qwerty.tex
*.tex
/M*.hs
/cabal.project
/cabal.project.local
/dist-newstyle
